<section class="row normal-gap">
  <section class="column normal-gap">
    <h2>Upcoming Events</h2>
    <% @events.upcoming.each do |event| %>
      <article class="card">
        <h2><%= link_to event.name, event_path(event) %></h2>
        <p><strong>Creator</strong>: <%= link_to event.creator.username, user_path(event.creator) %></p>
        <p><strong>Description</strong>: <%= event.desc %></p>
        <p><strong>Date</strong>: <%= event.date %></p>
        <p><strong>Attending</strong>: <%= event.attendees.size %></p>
      </article>
    <% end %>
  </section>
  <section class="column normal-gap">
    <h2>Past Events</h2>
    <% @events.past.reorder(date: :desc).each do |event| %>
      <article class="card">
        <h2><%= link_to event.name, event_path(event) %></h2>
        <p><strong>Creator</strong>: <%= link_to event.creator.username, user_path(event.creator) %></p>
        <p><strong>Description</strong>: <%= event.desc %></p>
        <p><strong>Date</strong>: <%= event.date %></p>
        <p><strong>Attending</strong>: <%= event.attendees.size %></p>
      </article>
    <% end %>
  </section>
</section>